In [1]:
import pandas as pd
import numpy as np
import streamlit as st

In [3]:
from pathlib import Path

In [7]:
file_path = r'C:\Users\justi\Documents\Projects\Data\Baseball_databank'
teams_file = file_path + '\Teams.csv'

In [14]:
teams_df = pd.read_csv(teams_file)
teams_df = teams_df[teams_df['yearID'] > 2000]

In [18]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 450 entries, 2355 to 2804
Data columns (total 48 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   yearID          450 non-null    int64
 1   lgID            450 non-null    object
 2   teamID          450 non-null    object
 3   franchID        450 non-null    object
 4   divID           450 non-null    object
 5   Rank            450 non-null    int64
 6   G               450 non-null    int64
 7   Ghome           450 non-null    float64
 8   W               450 non-null    int64
 9   L               450 non-null    int64
 10  DivWin          450 non-null    object
 11  WCWin           450 non-null    object
 12  LgWin           450 non-null    object
 13  WSWin           450 non-null    object
 14  R               450 non-null    int64
 15  AB              450 non-null    int64
 16  H               450 non-null    int64
 17  2B              450 non-null    int64
 18  3B              450 non-null    int64
 19  HR              450 non-null    int64
 20  BB              450 non-null    int64
 21  SO              450 non-null    float64
 22  SB              450 non-null    float64
 23  CS              450 non-null    float64
 24  HBP             450 non-null    float64
 25  SF              450 non-null    float64
 26  RA              450 non-null    int64
 27  ER              450 non-null    int64
 28  ERA             450 non-null    float64
 29  CG              450 non-null    int64
 30  SHO             450 non-null    int64
 31  SV              450 non-null    int64
 32  IPouts          450 non-null    int64
 33  HA              450 non-null    int64
 34  HRA             450 non-null    int64
 35  BBA             450 non-null    int64
 36  SOA             450 non-null    int64
 37  E               450 non-null    int64
 38  DP              450 non-null    float64
 39  FP              450 non-null    float64
 40  name            450 non-null    object
 41  park            450 non-null    object
 42  attendance      450 non-null    float64
 43  BPF             450 non-null    int64
 44  PPF             450 non-null    int64
 45  teamIDBR        450 non-null    object
 46  teamIDlahman45  450 non-null    object
 47  teamIDretro     450 non-null    object
dtypes: float64(10), int64(25), object(13)
memory usage: 172.3+ KB

In [ ]:
# See if I can plot NL vs AL rankings for 2000 onward.