In [17]:
import pandas as pd
import numpy as np
import streamlit as st
import matplotlib as plt
from pathlib import Path

In [7]:
file_path = r'C:\Users\justi\Documents\Projects\Data\Baseball_databank'

teams_path = file_path + '\Teams.csv'
salary_path = file_path + '\Salaries.csv'
batting_path = file_path + '\Batting.csv'

In [15]:
teams_df = pd.read_csv(teams_path)
teams_df = teams_df[teams_df['yearID'] >= 2000]
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 2325 to 2804
Data columns (total 48 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   yearID          480 non-null    int64
 1   lgID            480 non-null    object
 2   teamID          480 non-null    object
 3   franchID        480 non-null    object
 4   divID           480 non-null    object
 5   Rank            480 non-null    int64
 6   G               480 non-null    int64
 7   Ghome           480 non-null    float64
 8   W               480 non-null    int64
 9   L               480 non-null    int64
 10  DivWin          480 non-null    object
 11  WCWin           480 non-null    object
 12  LgWin           480 non-null    object
 13  WSWin           480 non-null    object
 14  R               480 non-null    int64
 15  AB              480 non-null    int64
 16  H               480 non-null    int64
 17  2B              480 non-null    int64
 18  3B              480 non-null    int64
 19  HR              480 non-null    int64
 20  BB              480 non-null    int64
 21  SO              480 non-null    float64
 22  SB              480 non-null    float64
 23  CS              480 non-null    float64
 24  HBP             480 non-null    float64
 25  SF              480 non-null    float64
 26  RA              480 non-null    int64
 27  ER              480 non-null    int64
 28  ERA             480 non-null    float64
 29  CG              480 non-null    int64
 30  SHO             480 non-null    int64
 31  SV              480 non-null    int64
 32  IPouts          480 non-null    int64
 33  HA              480 non-null    int64
 34  HRA             480 non-null    int64
 35  BBA             480 non-null    int64
 36  SOA             480 non-null    int64
 37  E               480 non-null    int64
 38  DP              480 non-null    float64
 39  FP              480 non-null    float64
 40  name            480 non-null    object
 41  park            480 non-null    object
 42  attendance      480 non-null    float64
 43  BPF             480 non-null    int64
 44  PPF             480 non-null    int64
 45  teamIDBR        480 non-null    object
 46  teamIDlahman45  480 non-null    object
 47  teamIDretro     480 non-null    object
dtypes: float64(10), int64(25), object(13)
memory usage: 183.8+ KB

In [31]:
salary_df = pd.read_csv(salary_path)
salary_df = salary_df[salary_df['yearID'] >= 1985]
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25575 entries, 0 to 25574
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearID    25575 non-null  int64
 1   teamID    25575 non-null  object
 2   lgID      25575 non-null  object
 3   playerID  25575 non-null  object
 4   salary    25575 non-null  int64
dtypes: int64(2), object(3)
memory usage: 999.1+ KB

In [33]:
# How have salaries evolved by division over the years?
# Sum of salaries by division by year, then dig in by team

# .reset_index() converts back to a pandas dataframe, otherwise it would have been a series

team_salary_by_year_df = salary_df.groupby(['yearID','teamID','lgID'])['salary'].sum().reset_index()
team_salary_by_year_df.head()

   yearID teamID lgID    salary
0    1985    ATL   NL  14807000
1    1985    BAL   AL  11560712
2    1985    BOS   AL  10897560
3    1985    CAL   AL  14427894
4    1985    CHA   AL   9846178

In [36]:
# cool reference material for graphs here:
# https://medium.com/dataexplorations/reproducing-the-baseball-salary-visualization-from-fivethirtyeight-in-matplotlib-1af449beb409
# Lets try and recreate!

salary_data_df['salary_zscore'] = team_salary_by_year_df.groupby(['yearID','lgID'])['salary'].transform(
    lambda x: (x - x.mean()) / x.std()
)

salary_data_df.head()

NameError: name 'salary_data_df' is not defined